@using EngineerApplication.Resources
@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = @localizer.Get("Home");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center;">@localizer.Get("Home")</h1>

<h4 style="text-align: center;">@localizer.Get("H1DescApp")</h4>

<center><img style="width: 80%; height: fitcontent; align-items: center; margin: 0 auto;" src="~/images/homePageImg.jpg" /></center>

<center><p style="width: 80%; text-align: justify;">@localizer.Get("DescApp")</p></center>