@inject CommonLocalizationService localizer
@using EngineerApplication.Helpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">@localizer.Get("PhotoGallery")</h2>
        </div>
        @if (User.IsInRole(UsefulConsts.Admin))
        {
            <div class="col-6 text-right">
                <a asp-action="AddOrUpdate" class="btn btn-primary"><i class="fas fa-plus">
                    </i> &nbsp; @localizer.Get("UploadNewPhoto")</a>
            </div>
        }
    </div>

    <br />
    <br />

    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>@localizer.Get("Picture")</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
<script src="~/js/webImage.js"></script>
}

