@using EngineerApplication.Resources
@inject CommonLocalizationService localizer
@model EngineerApplication.Entities.ViewModels.OfferCommodityViewModel

<h1 class="text-success" style="text-align: center; margin: 0 auto;">@localizer.Get("Offer")</h1>
<br />
<ul style="position: relative; display: block; margin: 0 auto; text-align: center; text-decoration: none; width: 90%; padding: 0;">
  <li class="nav-item" style="font-size: 22px; align-items: center; text-decoration: none; height: 48px; width: 186px; color: white; background-color: #32CD32; margin: 0 auto;">
    <a class="nav-link" asp-area="Customer" style="float: center; color: white; font-weigt: bold; text-decoration: none;" asp-controller="OfferCommodity" asp-action="OfferCommodity">@localizer.Get("OfferCommodity")</a>
  </li>
  <li class="nav-item" style="font-size: 22px; align-items: center; text-decoration: none; height: 20px; width: 186px; color: white; background-color: white; margin: 0 auto;">
  </li>
  <li class="nav-item" style="font-size: 22px; align-items: center; text-decoration: none; height: 48px; width: 186px; color: white; background-color: #32CD32; margin: 0 auto;">
    <a class="nav-link" asp-area="Customer" style="float: center; color: white; font-weight: bold; text-decoration: none;" asp-controller="OfferService" asp-action="OfferService">@localizer.Get("OfferService")</a>
  </li>
</ul>
<br/>
<center><p style="width: 90%; text-align: justify; display: block; margin: 0 auto;">@localizer.Get("MeetOffer")</p></center>
<br/>
<center><img style="width: 90%; height: fitcontent; align-items: center; margin: 0 auto;" src="~/images/offerPhoto.jpg" /></center>

@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
}