@page
@inject CommonLocalizationService localizer
@model LockoutModel
@{
    ViewData["Title"] = @localizer.Get("LockedOut");
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@localizer.Get("AccountHasBeenLocked").</p>
</header>
