@page
@inject CommonLocalizationService localizer
@model LogoutModel
@{
    ViewData["Title"] = @localizer.Get("Logout");
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>@localizer.Get("SuccessfullyLogged").</p>
</header>