@page
@inject CommonLocalizationService localizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = @localizer.Get("ResetPasswordConfirmation");
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer.Get("YourPasswordHasBeen") <a asp-page="./Login">@localizer.Get("ClickHereToLogIn")</a>.
</p>
